<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

<!--	<listeners>
		<listener class-name="com.eBanking.Utilities.Reporting"></listener>
	</listeners>-->
	
  <test thread-count="5" name="LoginTest">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
    <class name="com.eBanking.testCases.TC_LoginTest_001"/>
    <!--<class name="com.eBanking.testCases.TC_LoginTestDDT_002"/>-->
    <!-- <class name="com.eBanking.testCases.TC_AddNewCustomer_003"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
